/*Selector Universal*/

*{
    margin: 0;
} 

/*Selector Etiquetas e Hijos*/

ul {
    background-color: rgb(99, 99, 99);
    text-align: center;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 4vh 2vw;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover {
    background-color: rgb(65, 65, 65);
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    padding: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 40, 170);
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 123, 0);
    text-align: center;
}

td {
    border:1px solid black;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(48, 39, 34);
}

/*Selectores de ID*/

#t1 {
    margin: auto;
}


/*Selectores de Clases*/

.div1 {
    text-align: center;
    margin-top: 15vh;
}

/*Selectores Anidados*/