/*Selector Universal*/

*{
    margin: 0;
} 

/*Selector Etiquetas e Hijos*/

ul {
    background-color: rgb(99, 99, 99);
    text-align: center;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 4vh 2vw;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover {
    background-color: rgb(65, 65, 65);
}

a {
    color: white;
    text-decoration: none;
    padding: 4vh 0vw;
}

h2 {
    padding: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 40, 170);
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color:rgb(83, 83, 83);
    text-align: center;
    padding: 1vh 1vw;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    padding: 1vh 1vw;
}

input {
    margin: 0vh 0.3vw;
    padding: 1vh 1vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size:small;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgb(3, 3, 3);
    border-radius: 5px;
}

tr {
    border-bottom: 1px solid black;
}

/*Selectores de ID*/

#t1 {
    margin: auto;
    border: 1px solid black;
}


/*Selectores de Clases*/

.div1 {
    text-align: center;
    margin-top: 3vh;
}

.tdboton {
    padding: 0vh 0.7vw;
}
/*Selectores Anidados*/

